body {
    padding: 0;
    margin: 0;
    background-color: #262626;
    color: white;
    
}

#main {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
}

#game-container {
    display: inline-block;
    transform-origin: center;
}

ul {
     padding-left: 0; 
}

h2 {
    background-color: #CCE4C3;
    color: #405242;
}

#border {
color: #28554E;
}

#inventar {
    position: fixed;
    height:400px ;
    width: 100%;
    display: block;
    left:40px;
 
}

tr {
    height: 20px;
}

#tasten2 {
    position: fixed;
    top:350px;
    left:2px
   
}

#pfeiltaste {
    position: fixed;
    top:460px;
    left: 40px;
    
}