body {
    padding: 0;
    margin: 0;
    background-color: #262626;
    color: white;

}

#main {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
}

#game-container {
    display: inline-block;
    transform-origin: center;
}

ul {
    padding-left: 0;
}

h2 {
    background-color: rgb(17, 87, 26);
    color: rgb(255, 255, 255);
}

#border {
    color: rgb(17, 87, 26);
}

#counterbox {
        position: fixed;
        top: 76%;
        bottom: 50%;
        left: 77%;
        visibility: hidden;
}

#inventarbox {
    position: fixed;
    top:40%;
    bottom: 50%;
    left: 3%;
    
}


tr {
    height: 20px;
}